In [12]:
# Program Name: ZARATE_HEATHER_M02
# Author: Heather Zarate
# Date: 9/15/2022

# 11.1 and 11.2 activity

def hours():
    print('Open 9-5 daily')

hours()

import zoo 

import zoo as menagerie


# 16.8 activity

import sqlite3

conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books
    (title TEXT,
     author TEXT,
     year INTEGER
     )''')
conn.commit()



import sqlalchemy as db

conn = sa.create_engine('sqlite://')

query = db.select ([titles])
print(titles)

OperationalError: table books already exists